.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 180px 220px 80px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: rgb(46, 46, 46);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
}

.card-image {
  grid-area: image;
}
.card-text {
  grid-area: text;
}
.card-stats {
  grid-area: stats;
}

.card-image1 {
  grid-area: image;
  background: url("../../public/images/kaelle.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: contain;
}
.card-image2 {
  grid-area: image;
  background: url("../../public/images/ubook.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: contain;
}
.card-image3 {
  grid-area: image;
  background: url("../../public/images/solardrop.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: contain;
}
.card-image4 {
  grid-area: image;
  background: url("../../public/images/artofcode.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: contain;
}

.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: rgb(14, 154, 235);
  font-size: 13px;
}
.card-text p {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
  color: white;
}
.card-stats {
  grid-area: stats;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(14, 154, 235);
}
.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 0;
  color: white;
  padding: 10px;
  margin-top: 15px;
  font-size: 20px;
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}

.pricing__section {
  padding: 100px 0 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(30, 30, 30);
}

.pricing__container-card {
  background: linear-gradient(45deg, #0660e9 0%, #276afb 100%);
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
  width: 280px;
  height: 500px;
  text-decoration: none;
  border-radius: 4px;
}

.pricing__container-card:nth-child(2) {
  transform: scale(1.05);
  background: #242424;
}

.pricing__container-card:hover {
  transform: scale(1.06);
  transition: all 0.3s ease-out;
  color: #1c2237;
}

.pricing__container-card:nth-child(2) {
  margin: 0 24px;
}

.pricing__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
}

.pricing__heading {
  color: #ffffff;
  margin-bottom: 24px;
  margin-left: 45%;
}
.pricing__heading1 {
  color: #ffffff;
  margin-bottom: 24px;
  margin-top: 30px;
  margin-left: 39%;
}

.pricing__container-cardInfo {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 24px;
  align-items: center;
  color: #fff;
}

.pricing__container-cardInfo h3 {
  margin-bottom: 5px;
  font-size: 24px;
}

.pricing__container-cardInfo h4 {
  font-size: 40px;
}

.pricing__container-cardInfo p {
  font-size: 14px;
  margin-bottom: 24px;
}

.pricing__container-features {
  margin: 16px 0 32px;
  list-style: none;
}

.pricing__container-features li {
  margin-bottom: 10px;
}

.pricing__container-features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin: 24px 0;
}

@media screen and (max-width: 960px) {
  .pricing__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .pricing__container-card {
    width: 90%;
  }

  .pricing__wrapper {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pricing__container-card:nth-child(2) {
    transform: scale(1);
    background: #242424;
    margin: 24px;
  }

  .pricing__container-card:hover {
    transform: none;
  }
}

@media screen and (max-width: 768px) {
  .pricing__heading {
    margin-left: 0%;
  }
}

@media screen and (max-width: 768px) {
  .pricing__heading1 {
    margin-left: 30%;
  }
}

a {
  text-decoration: none;
}
